@import "tailwindcss";

@layer components {
  h1 {
    font-weight: bold;
    font-size: 1.2rem;
  }

  h3 {
    font-weight: bold;
  }

  .logo-container {
    display: flex;
    padding-top: 30px;

  }
  .logo-symbol {
    font-size: 79px;
    margin-right: 0;
  }

  .logo {
    font-size: 75px;
    padding: 24px 0px 0px 0px;
    line-height: 53px;
  }
  .sublogo {
    letter-spacing: 4px;
    padding: 0 0 0 3px;
    font-size: 22.5px;
  }
  .main-container {
    border: 2px solid;
    background: white;
    border-radius: 20px;
    display: flex;
    width: 600px;
    flex-wrap: wrap;
  }
  .row {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 600px;
  }
  .upper-box, .inner-box {
    width: 600px;
  }
  .inner-box {
    width: 600px;
  }
  input {
    width: 300px;
    transition-duration: 0.2s;
    background-color: #d8dad3;
    border-radius: 20px;
    margin-bottom: 10px;

  }
  input:hover {
    background-color: #f1f2eb;
  }
  button {
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
    height: 64px;
    width: 300px; /* Adapted width */
    padding: 0 32px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 18px;
    color: #0e0f19;
    cursor: pointer;
    background-color: #f1f2eb; /* Default background */
    transition: background-color 0.2s;
  }
  button:hover {
    background-color: #67aaf9;
    color: white;
  }
  button > span {
    position: relative;
    z-index: 2;
  }
  button.loading {
    cursor: wait;
    background-color: #67aaf9;
    color: white;
  }
  button.loading::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    background: repeating-linear-gradient(
      60deg,
      transparent,
      transparent 10px,
      #4fa0fd 10px,
      #4fa0fd 20px
    );
    animation: loading 1s infinite linear;
  }
  .fancy {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2367aaf9' stroke-width='10' opacity='0.05'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
  @keyframes loading {
    0% {
      transform: translateX(25px);
    }
    100% {
      transform: translateX(-20px);
    }
  }
  .cart-icon {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    font-size: 48px;
    z-index: 3; /* Higher than loading animation */
    animation: cart-move 2s infinite linear;
    text-shadow: 1px 1px 2px black;
  }
  .searching {
    font-size: 30px;
    transition-duration: 0.2s;
  }
  .cam_button { 
    border-radius: 100%;
    aspect-ratio: 1;
    padding: 35px;
    width: 35px;
    height: 35px;
  }
  @keyframes cart-move {
    0% {
      left: 100%; /* Starts outside the button on the right */
    }
    100% {
      left: -50px; /* Moves across the button to the left */
    }}
}